version: '2.4'

services:

  db:
    restart: always
    image: postgres:latest
    volumes:
      - pgdata:/var/lib/postgresql/data/
    env_file: .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    restart: always
    image: {{ CI_REGISTRY_IMAGE }}:app_{{ ENV }}_{{ CI_COMMIT_SHORT_SHA }}
    expose:
      - "8000"
    links:
      - db:db
    volumes:
      - web-django:/usr/src/
      - web-static:/usr/src/static/
    env_file: .env
    command: /usr/local/bin/gunicorn Blog.wsgi:application -w 2 -b :8000
    depends_on:
      db:
        condition: service_healthy

  nginx:
    restart: always
    image: {{ CI_REGISTRY_IMAGE }}:nginx_{{ ENV }}_{{ CI_COMMIT_SHORT_SHA }}
    ports:
      - "8000:8000"
    volumes:
      - web-static:/static

volumes:
  web-django:
  web-static:
  pgdata:
